<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <h1 class="mt-3 mb-5">To do list</h1>
            <div class="mb-3">
                <label for="addToDo" class="form-label mb-3">Cosa devi fare?</label>
                <input type="text" class="form-control" id="addToDo" v-model="newToDo" @keyup.enter="addToDo">
            </div>

            <button class="btn btn-warning mb-5" @click="addToDo" @keyup.enter="addToDo">Aggiungi</button>

            <ul v-if="toDos.length > 0" class="list-group">
                <li v-for="(toDo, index) in toDos" class="list-group-item d-flex justify-content-between" @click="doneTrue(index)">
                    <span class="my_delete" :class="(toDo.done==true)?'banned':'' ">{{toDo.text}}</span>
                    <span class="my_delete" @click="cancelToDo(index)"><i class="fa-solid fa-trash-can"></i></span>
                </li>
            </ul>
            <div v-else class="alert alert-warning" role="alert">
                Non ci sono cose da fare in lista
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>